# this is only for the mysqld standalone daemon
[mysqld]
max_allowed_packet=8G
innodb_log_file_size = 2G
max_user_connections = 5000
interactive_timeout=180
wait_timeout=900
innodb_file_per_table=1
innodb_stats_on_metadata =-                                                                                                                                                                                                                                                                                            innodb_stats_on_metadata =-
thread_cache_size = 4
query_cache_size = 8G
query_cache_type=1
query_cache_limit = 8G
join_buffer_size = 32M
tmp_table_size = 1G
max_heap_table_size = 1G
table_open_cache = 2000
open-files-limit=65000
innodb_buffer_pool_size = 6G
innodb_buffer_pool_instances = 800
# this is only for embedded server
[embedded]
